body{
  background: #f2f2f2;
}
html  {
  height: 100%;
  width: 100%;
}
h1 { font-style: oblique;
      color: blue;
  background: yellow;
  border: 0.5px solid black;
}
#boton1,#boton2 {
  color:blue;
  background: #f2eb2c;
  border: 5px solid black;
}

